<div>
  <h1>Account</h1>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>


<% @projects.each do |project| %>
  <h2><%= project.title%></h2>
  <% project.rewards.each do |reward| %>
    <% reward.pledges.where(user_id: @user.id).each do |pledge| %>
      <p>$ <%= pledge.dollar_amount%> Reward:  <%= pledge.reward.description%></p>
    <%end%>
  <% end %>
  Total: <%= project.pledges.where(user_id: @user.id).sum(:dollar_amount)%>
<% end %>



</div>
