<div>
  <h1>Account</h1>
  <p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
  <p>Email: <%= @user.email %></p>

<h2>Projects</h2>
<% @owner_projects.each do |project| %>
    <h3><%= project.title %></h3>
    <p> Description: <%= project.description %></p>
    <p>Project Goal: $<%= project.goal %></p>
    <p>Raised to Date: <%= project.pledges.sum(:dollar_amount) %></p>
    <p>Start Date: <%= project.start_date %> End Date: <%= project.end_date %></p>
  <% end %>



<h2>Pledges</h2>
<% @projects.each do |project| %>
  <h3><%= project.title %></h3>
  <% project.rewards.each do |reward| %>
    <% reward.pledges.where(user_id: @user.id).each do |pledge| %>
      <p>Total Pledges: $ <%= pledge.dollar_amount%> Reward:  <%= pledge.reward.description%></p>
    <%end%>
  <% end %>
  Total: <%= project.pledges.where(user_id: @user.id).sum(:dollar_amount)%>
<% end %>



</div>
